body {
  font-family: sans-serif;
  background-color: #ffddd2;
}
#app {
  display: flex;
  margin: 3.125rem 0;
}
.container-main {
  border: 0.625rem #006d7763 solid;
  border-radius: 0.625rem;
  background-color: #edf6f9;
  width: 80vw;
  min-height: 70vh;
  margin: auto;
  padding: 2% 5%;
}

@media screen and (min-width: 600px) {
  .container-main {
    width: 50vw;
  }
}

#addNew {
  background-color: #91c0c6;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  cursor: pointer;
}

#tasks > div {
  background-color: #91c0c6;
  border-radius: 0.3125rem;
  border: 1px solid red;
  margin: 1rem 0;
}

.card-container-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
}

#tasks p {
  padding: 0 1.25rem;
}

#tasks .options {
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}
